<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let s of space">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{s.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{s.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>

        </div>
    </div>
</div>
<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let w of world ">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{w.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{w.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let m of mount">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{m.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{m.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let f of famous">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{f.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{f.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let pr of pre">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{pr.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{pr.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let vp of famo">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{vp.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{vp.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let mp of famo">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{mp.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{mp.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let zp of a">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{zp.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{zp.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let wp of b">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{wp.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{wp.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let w of c">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{w.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{w.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let x of d">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{x.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{x.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let r of e">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{r.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{r.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let l of f">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{l.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{l.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div><hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let h of g">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{h.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{h.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div><hr>
<hr>
<div class="container">
    <div class="row">
        <div class="col-md-6 mb-3" *ngFor="let q of h">
            <div class="card h-100">
                <div class="card-header">
                    <h2 class="mb-0">{{q.title}}</h2>
                </div>
                <div class="card-body">
                    <p class="mb-0"> {{q.content}} </p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <button mat-mini-fab color="primary">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-mini-fab color="warn">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>