.example-card{
// height: 360px;
width: 100%;

// .card-title{
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     height: 40px;
//     width: 100%;
// }


mat-card-content{
    height: 120px;
}

}
